@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    background: #3b4acd;
    color: #A5B2D3;
    padding: .5em;
    height: 100vh;
    font-family: serif;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: #ffff;
}

ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    display: inline-block;
    background: #FC85AE;
    color: #303A52;
    padding: 1em;
    margin-left: auto;
    font-size: .6em;
    font-weight: bold;
}

/*Navigation*/

nav {
    position: fixed;
    background: #576483;
    text-align: center;
    transform: translateX(-50%);
    transition: all .3s;
    /* opacity: 0; */
    /* visibility: hidden; */
    width: 80%;
    height: 100vh;
    left: 0;
    top: 0;
}

nav p {
    margin-bottom: 0;
}

nav svg {
    width: 1em;
    cursor: pointer;
}

nav ul li a {
    display: block;
    padding: .2em;
    font-size: 1.8em;
}

.selected {
    background:#9E579D;
}

.open-nav{
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

/* Main Section */

h1 {
    color: white;
    margin-top: 1em;
}

.panel {
    background: #39445F;
    border-radius: .3em;
}